
@import url('https://fonts.googleapis.com/css?family=Raleway');


html,body {
  height: 100%;
}

html,h1,h2,h3,h4,h5,h6,a{
 font-family: "Raleway";
}



/*header style*/

.overlay{
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0;
 top: 0;
 background-color: #141d45;
}

.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
    
}
.description h1{
 color:#11d66d ;
}
.description p{
 color:#fff;
 font-size: 20px;

 line-height: 1.5;
}

.description button{
 border:1px  solid #11d66d/*#46EC85*/;
 background:#11d66d /*#5D43F1*/;

 color:#fff;
}

body{
  background-color: #141d45;
}


/*#card1{
  background-color: #141d45;
  border-color: black;
}

#card2{
  margin-top: 50px;
  background-color: #141d45;
  border-color: black;

}

#card3{
  background-color: #141d45;
  margin-left: 50px;
  margin-top: 150px;
  margin-right: 50px;
  border-color: black;
}
*/
.experience{
  margin: 4em 0;
  position: relative;
}

.experience .card-body{
  background-color: #141d45;
  padding: 1em;
}

.experience .card-footer{
  background-color: #141d45;
}
#card1{
  border-color: black;
}
#card2{
  border-color: black;
}
#card3{
  border-color: black;
}
#card1 h4,h6{
 color:#11d66d ;
}
#card1 p{
 color:#fff ; 
}

#card2 h4{
 color:#11d66d ;
}
#card2 p{
 color:#fff ;
}

#card3 h4{
 color:#11d66d ;
}
#card3 p{
 color:#fff ;
}